/* .bg {
  background-image: url("../Images/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
.navbar {
  background: linear-gradient(to right, rgb(202, 46, 18), black);
} */

/* Small phones: from 0 to 400px */
/* @media only screen and (max-width: 400px) {
  section {
    padding: 50px 0;
  }
  .contact-from {
    width: 100%;
  }
} */